.header
  height: 9.5rem
  padding: 0 15rem
  width: 100%
  position: absolute
  top: 0
  z-index: 1

  &__grey-bg
    background-color: $light-grey

    .header--logo
      &__color
        display: block

      &__white
        display: none

    .header--menu a
      color: $brand-blue

  &__slider
    background-color: $light-grey
    position: absolute
    transform: translateY(-100%)
    top: 0
    transition: transform .33s $ease-out-quad
    z-index: 1

    &__active
      transform: translate(0)

    .header--logo-wrapper
      background: $light-grey

    .header--logo
      &__color
        display: block
      &__white
        display: none

    .header--menu a
      color: $brand-blue

  &--container
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
    overflow: hidden
    position: relative

  &--logo-wrapper
    height: 100%
    z-index: 1
    @include flex-center

    &::before
      content: ''
      position: absolute
      left: 25rem
      bottom: calc(50% - 13px)
      right: 67.5rem
      height: 2px
      background: $brand-green

  &--logo
    height: 7rem

    &__color
      display: none

    &__white
      display: block

  &--menu
    ul
      list-style-type: none
      margin-bottom: 0
      position: relative

    .current-menu-item
      border-bottom: 2px solid transparent
      position: relative

      &::before
        content: ''
        position: absolute
        top: -.75rem
        left: 0
        right: 0
        height: 2px
        background: $brand-green

      &::after
        content: ''
        position: absolute
        height: calc(100% + .75rem)
        width: 100%
        left: 0
        top: calc(-.75rem + 2px)
        background: transparent
        border-left: 2px solid $brand-green
        border-right: 2px solid $brand-green

    li
      display: inline-block
      border-bottom: 2px solid $brand-green
      float: left

    a
      font-size: 1.6rem
      text-transform: uppercase
      padding: 1.5rem
      font-weight: 100
      color: white

      &:hover
        text-decoration: none

    .current-menu-item a
      font-weight: 700

      &::before
        content: ''
        position: absolute
        bottom: -1rem
        left: 2px
        right: 2px
        height: 10px
        background: transparent


@media screen and (max-width: 1439px)
  .header
    padding: 0 7.5rem

@media screen and (max-width: 1200px)
  .header
    padding: 0 3rem

@media screen and (max-width: 1024px)
  .header
    padding: 0 3rem

    &--logo-wrapper::before
        bottom: calc(50% - 12px)

@media screen and (max-width: 991px)
  .header
    &--logo-wrapper::before
      display: none

    &--menu
      display: none

@media screen and (max-width: 768px)
  .header
    height: 7rem

    &--logo
      height: 5rem
