.header
  height: 8.8rem
  padding: 0 15rem
  width: 100%
  position: absolute
  top: 0
  z-index: 1

  &__grey-bg
    background-color: $cool-light-grey

    .header--logo
      &__color
        display: block

      &__white
        display: none

    .header--menu a
      color: $brand-blue

  &__slider
    background-color: $cool-light-grey
    position: fixed
    transform: translateY(-100%)
    top: 0
    transition: transform .33s $ease-out-quint
    z-index: 8888

    &__active
      transform: translate(0)

    .header--logo-wrapper
      background: $light-grey

    .header--logo
      &__color
        display: block
      &__white
        display: none

    .header--menu a
      color: $brand-blue

  &__slider,
  &__grey-bg
    .header--hamburger
      margin-top: 0

  &--container
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    align-items: center
    overflow: hidden
    position: relative

  &--logo-wrapper
    height: 100%
    z-index: 1
    @include flex-center

    &::before
      content: ''
      position: absolute
      left: 25.25rem
      bottom: calc(50% - 14px)
      right: calc(69.5rem - 1px)
      height: 2px
      background: $brand-green

  &--logo
    height: 7rem

    &__color
      display: none

    &__white
      display: block

  &--menu
    margin-top: .75rem

    ul
      list-style-type: none
      margin-bottom: 0
      position: relative

    .current-menu-item
      border-bottom: 2px solid transparent
      position: relative

      &::before
        content: ''
        position: absolute
        top: -.75rem
        left: 0
        right: 0
        height: 2px
        background: $brand-green

      &::after
        content: ''
        position: absolute
        height: calc(100% + .75rem)
        width: 100%
        left: 0
        top: calc(-.75rem + 2px)
        background: transparent
        border-left: 2px solid $brand-green
        border-right: 2px solid $brand-green

    li
      display: inline-block
      border-bottom: 2px solid $brand-green
      float: left
      line-height: 1

    a
      font-size: 1.6rem
      text-transform: uppercase
      padding: 1.5rem
      letter-spacing: 1px
      @extend .text-thin
      color: #e4e4ea

      &:hover, &:focus
        text-decoration: none

    .current-menu-item a
      @extend .text-bold

      &::before
        content: ''
        position: absolute
        bottom: -1rem
        left: 2px
        right: 2px
        height: 10px
        background: transparent

  &--hamburger
    @include size(2.5rem, 3.5rem)
    background: url($images-folder + 'hamburger.svg') center no-repeat
    background-size: contain
    margin-top: 1rem

.home
  li:last-child a
    color: $brand-green

body:not(.page-template-page_contact-us)
  .header--menu
    position: relative
    left: -15px

    li:last-child a
      padding-right: 0

.mobile-nav
  position: fixed
  right: 0
  top: 0
  width: 39.5rem
  height: 100%
  background: $cool-light-grey
  z-index: 1
  padding-top: 8rem
  padding-left: 3rem
  transform: translateX(100%)
  transition: transform .3s $ease-out-quint
  overflow: scroll
  z-index: 99999

  &__show
    transform: translate(0)

  &--exit
    @include square(3.5rem)
    position: absolute
    top: 3.5rem
    right: 3rem
    background: url($images-folder + 'exit.svg') center no-repeat
    background-size: contain

  &--menu
    border-bottom: 2px solid $brand-green
    list-style-type: none

  &--menu-item
    transition: color .2s $ease-out-quint

  &--menu-link
    font-size: 2.8rem
    line-height: 6rem
    text-transform: uppercase
    letter-spacing: 1.25px
    color: black

  &--sub-item
    line-height: 4.5rem

    &:last-child
      margin-bottom: .75rem

  &--sub-link
    color: $brand-blue
    font-size: 2.25rem
    margin-bottom: 0
    letter-spacing: 1.5px

    &__padded
      padding: 1rem 0

  &--footer
    display: flex
    margin-top: 1.5rem

  &--logo
    width: 6.5rem
    height: 5rem
    background: url($images-folder + '/brand-assets/lsi-old-logo.svg') top left no-repeat
    background-size: contain
    margin-right: 1.75rem
    margin-top: .5rem

  &--contact

  &--contact-item
    font-size: 2.25rem

@media screen and (max-width: 1440px)
  .header
    padding: 0 7.5rem

@media screen and (max-width: 1199px)
  .header
    padding: 0 3rem

@media screen and (max-width: 1024px)
  .header
    padding: 0 3rem

    &--logo-wrapper::before
        bottom: calc(50% - 12px)

@media screen and (max-width: 991px)
  .header
    &--logo-wrapper::before
      display: none

    &--menu
      display: none

@media screen and (max-width: 767px)
  .header
    height: 7rem

    &--logo
      height: 5rem
