.page-hero
  height: 75rem
  width: 100%
  background: $light-grey center no-repeat
  background-size: cover
  position: relative
  padding-top: 18rem
  z-index: 0
  overflow: hidden

  &--image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    background-size: cover
    background-position: center

    &::after
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background: transparentize($brand-dark-blue, .55)

  &--title
    color: white
    background: $brand-blue
    display: inline-block
    font-weight: 700
    letter-spacing: 2px
    font-size: 4rem
    padding: .3rem
    padding-right: 18rem
    position: relative

    &::after
      content: ''
      position: absolute
      background: $brand-blue
      top: 0
      right: 100%
      height: 100%
      width: 50rem
      z-index: 1

  &--blurb
    color: white
    font-size: 3rem
    margin-top: 20rem
    padding-top: 2rem
    width: 77.5rem
    font-weight: 300
    letter-spacing: 2px
    position: relative

    &::after
      content: ''
      position: absolute
      background: $brand-green
      top: 0
      right: 0
      height: 4px
      width: 200rem
      z-index: 1

.page-hero__home-page
  height: 95rem

.home-hero
  position: relative
  left: auto
  top: 33rem

  &--choose-container
    float: left

    &--choose
      color: white
      font-size: 5.5rem
      line-height: 3.5rem
      margin: 0
      padding: 0 0 0 3rem
      float: left

  &--white-box
    color: $brand-blue
    background-color: white
    float: left
    clear: both
    width: 64rem

    &--logical-solution
      font-size: 6rem
      line-height: 6rem
      margin: 0
      padding: .6rem 2rem 1rem 3rem
      display: inline-block
      float: left
      clear: both
    
  &--blue-box
    color: white
    background-color: $brand-blue
    padding: .5rem 1.4rem 0rem 1.6rem
    margin-left: 18rem
    float: left
    
    &--subtitle
      margin: 0

  &--see-our-process-container
    position: absolute
    top: 78.5rem
    left: 50%
    transform: translateX(-50%)

    &--see-our-process
      font-size: 2.2rem

@media screen and (max-width: 767px)
  .page-hero
    height: 60rem
    padding-top: 11rem

    &--title
      font-size: 3rem

    &--blurb
      width: 100%
      font-size: 1.6rem
      margin-top: 15rem
      margin-left: 10rem
      border-top: 2px solid $brand-green
      border-left: 2px solid $brand-green
      padding-left: 2.5rem
      padding-right: 10rem
      line-height: 1.4

      &::before
        content: ''
        position: absolute
        height: 2px
        width: 20rem
        right: 100%
        bottom: 0
        background: $brand-green

      &::after
        content: none

  .page-hero__home-page
    height: 100vh

  .home-hero
    left: 0

    &--choose-container
      background-color: white
      width: 64rem

      &--choose
        color: $brand-blue
        padding: 2rem 2rem 0rem 3rem
        font-weight: normal
        font-size: 3.5rem

    &--white-box
      &--logical-solution
        padding-top: 0

    &--blue-box
      transform: translateY(-1rem)
      margin-left: 3rem
      right: 15px

      &--subtitle
        font-size: 4rem
        font-weight: normal
        letter-spacing: 3px

@media screen and (max-width: 599px)
  .home-hero
    &--choose-container
      width: 40rem
      &--choose
        font-size: 2.5rem
        line-height: 2.5rem
        padding-left: 1.5rem
        padding-top: 1.5rem

    &--white-box
      width: 40rem
      &--logical-solution
        font-size: 3rem
        line-height: 3rem
        padding-left: 1.5rem

    &--blue-box
      transform: translateY(-0.75rem)
      margin-left: 1.5rem
      &--subtitle
        font-size: 2rem
        letter-spacing: 1.5px

@media screen and (max-width: 400px)
  .page-hero
    &--title
      padding-right: 8rem
