.section-sm, .section-md, .section-lg, .section-xl
  overflow-x: hidden

.section-sm
  padding-top: 5rem
  padding-bottom: 5rem

.section-md
  padding-top: 9rem
  padding-bottom: 9rem

.section-lg
  padding-top: 12rem
  padding-bottom: 12rem

.section-xl
  padding-top: 16rem
  padding-bottom: 16rem
