node_modules
wordpress/wp-content/themes/logical-solutions/
/wordpress/wp-content/themes/logical-solutions
wordpress/wp-config.php
/wordpress/wp-config.php
wp-content/uploads
wordpress/wp-content/uploads
wordpress/dashboard
.DS_Store
/wordpress/dashboard/
wordpress/dashboard/
wordpress/wp-content/plugins
