.btn
  background: $light-grey
  color: $brand-dark-blue
  font-size: 2.2rem
  letter-spacing: 1px
  border-radius: 0
  padding: .5rem 2rem

.btn
  &__blue
    border: 3px solid $brand-mid-blue
    background: transparent
