.btn
  background: $light-grey
  color: $brand-dark-blue
  font-size: 2.2rem
  letter-spacing: 1px
  border-radius: 0
  padding: .5rem 2rem

.btn
  &__blue
    border: 3px solid $brand-mid-blue
    background: transparent

.cta
  display: inline-block
  text-transform: uppercase
  font-size: larger
  font-weight: normal
  border-width: 2px
  border-style: solid
  padding: .5rem 4rem

  &__white
    color: white
    border-color: white

    &:hover
      color: $brand-blue
      border-color: $brand-blue
