.btn
  background: lightgrey

.cta
  display: inline-block
  text-transform: uppercase
  font-size: 2.2rem
  font-weight: normal
  border: 2px solid
  padding: .75rem 4rem

  &__white
    color: white
    border-color: white

    &:hover
      color: $brand-mid-blue
      border-color: $brand-mid-blue
