.contact
  &--container
    display: flex

    p
      margin-bottom: 0

  &--section-title
    margin-bottom: .75rem !important

    &__divider
      position: relative
      margin-top: 2.6rem

      &::before
        content: ""
        position: absolute
        background-color: #20499E
        height: 1px
        width: 100%
        top: -2.5rem

        @media screen and (max-width: 991px)
          content: none

  &--left
    margin-right: 7.5px

  &--right
    margin-left: 7.5px

  &--left, &--right
    @media screen and (min-width: 768px)
      width: 50%

input, textarea, select, option
  margin-bottom: 3rem
  font-size: 1.8rem
  width: 100%
  height: 4rem
  background-color: white
  border: none
  color: $mid-light-grey

  &:focus
    outline: 1px auto $brand-blue

  &::placeholder
    color: #ccc

select
  padding-left: calc(1rem - 2px)
  width: 100%

input, textarea
  padding-left: 1rem

textarea
  padding-top: .75rem
  height: 38rem
  resize: none

select
  border-radius: 0
  appearance: none
  padding-right: 25px


.training-date::after
  content: ''
  position: absolute
  top: 5px
  right: 9px
  width: 0
  height: 0
  border-style: solid
  border-width: 5px 5px 0 5px
  border-color: $brand-green transparent transparent transparent


input[type="submit"], input[type="file"]
  width: auto

  &.btn
    line-height: 1.2

.input
  &--group
    display: flex

    & > span
      margin-left: 7.5px
      margin-right: 7.5px
      width: 100%

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

  &__required
    color: $brand-green

    &::placeholder
      color: $brand-green

  &__shorten
    width: 75%

  &__grey-outline
    outline: 1px auto $light-grey

@media screen and (max-width: 767px)
  input, textarea, select, option
    margin-bottom: 2rem

  textarea
    height: 17.5rem

  .contact
    max-width: 52.5rem
    margin: 0 auto

    &--container
      flex-direction: column

    &--left, &--right
      margin: 0

  .input
    &--group
      flex-direction: column

      & > span
        margin-left: 0
        margin-right: 0

.file-cover-letter, .file-resume
  width: .1px !important

.attachment
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

  &:focus
    color: $brand-green

  &--resume
    margin-top: 0
    margin-bottom: 2rem

  &--label
    color: $brand-mid-blue
    font-size: 1.6rem
    cursor: pointer

    &:hover
      color: $brand-green

.paperclip-icon
  display: inline-block
  left: 0
  top: 0
  background-image: url( $images-folder + 'paperclip.svg' )
  background-size: contain
  background-repeat: no-repeat
  height: 2rem
  width: 2rem
  margin-right: 1rem
