html
  font-size: 10px

  @media screen and (max-width: 1024px)
    font-size: 9px

  @media screen and (max-width: 767px)
    font-size: 8px

body
  font-family: Amelia, serif
  font-style: normal
  font-weight: normal

h1
  font-size: 3.6rem

h2
  font-size: 2.8rem

h3
  font-size: 2.4rem

p, li, a
  font-size: 1.8rem

p
  letter-spacing: 1.25px

blockquote
  font-size: 2.5rem
  color: $brand-mid-blue
  letter-spacing: 1.25px
  line-height: 1.4
  @extend .text-bold
  margin: 0
  padding: 0
  border: none

.uppercase
  text-transform: uppercase

.track-out
  letter-spacing: .5px

.text-sm
  font-size: 1.6rem

.text-thin
  font-family: Amelia-Light, serif
  font-style: normal
  font-weight: normal

.text-normal
  font-family: Amelia, serif
  font-style: normal
  font-weight: normal

.text-bold
  font-family: Amelia-Bold, serif
  font-style: normal
  font-weight: normal

.active-link
  border-bottom: 2px solid $brand-green
  color: $brand-blue

.section-title
  @extend .text-bold
  font-size: 4.5rem
  color: $brand-mid-blue
  padding-bottom: 1rem
  margin-bottom: 5rem
  position: relative
  text-transform: uppercase
  letter-spacing: 3px

  &::after
    content: ''
    width: 200rem
    height: 4px
    background: $brand-green
    position: absolute
    bottom: 0
    right: 37.5rem

  &__right
    text-align: center

    &::after
      left: 30rem

  &__banner
    color: white
    z-index: 1
    padding: 1.25rem 0

    &::after
      height: 100%
      z-index: -1
      background-color: $brand-blue

.information-title
  @extend .text-bold
  @extend .text-brand-mid-blue
  @extend .track-out
  margin-bottom: 4rem

.split-paragraph
  column-count: 2
  column-gap: 9rem

@media screen and (max-width: 991px)
  .section-title
    font-size: 3rem

  .section-title::after
    right: 17.5rem
    left: auto

  .section-title__right::after
    left: 17.5rem
    right: auto

@media screen and (max-width: 767px)
  .split-paragraph
    column-count: 1

  .section-title::after
    right: 20%
    left: auto

  .section-title__right::after
    left: 20%
    right: auto

@media screen and (max-width: 450px)
  .section-title::after
    right: 0
