.awards
  display: flex
  justify-content: center
  align-items: center

.award
  display: flex
  flex-direction: column
  align-items: center
  width: 30rem
  margin: 0 10rem

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

  &--image
    border-bottom: 5px solid $brand-green
    width: 100%
    margin-bottom: 1rem
