.job
  &--category
    display: inline-block
    color: $mid-light-grey
    transition: all .75s $ease-out-quint
    position: relative

    &::after
      content: ''
      position: absolute
      top: 100%
      left: 0
      width: 0
      height: 2px
      background-color: $brand-green
      transition: all .5s $ease-out-quint

    &:not(:last-child)
      margin-right: 15rem

    &__active
      color: $brand-blue

      &::after
        width: 100%

  &--preview
    margin-bottom: 5rem

  &--excerpt
    height: 7.5rem
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

    @media screen and (max-width: 767px)
      height: auto
      

  &--description p
    font-size: 1.6rem

  &--requirements
    list-style-type: none
    padding-left: 10px

  &--requirement
    text-indent: -10px
    margin-bottom: 2rem
    font-size: 1.6rem

    &::before
      content: '-'
      position: relative
      left: -5px
