.studies
  margin-bottom: 20rem

  &--btn
    margin-top: 8rem


@media screen and (max-width: 991px)
  .studies
    margin-bottom: 5rem

    &--btn-container
      width: 100%
      display: flex
      justify-content: center

    &--btn
      margin: 3rem auto 0 !important
      width: auto
      display: inline-block


@media screen and (max-width: 767px)
  .studies
    margin-bottom: 0

    &--blurb-section
      padding: 3rem 0
