.studies
  margin-bottom: 20rem

  &--study
    padding: 8rem 0
    position: relative
    overflow: hidden

  &--title
    margin-top: 0 !important

    &__right::after
        left: -21rem

  &--btn
    margin-top: 14rem

  &--image
    position: absolute
    width: 45%
    height: 100%
    top: 0
    background-color: $mid-light-grey

    &__right
      right: 0


@media screen and (max-width: 991px)
  .studies
    margin-bottom: 5rem

    &--image
      width: 100%
      top: 0
      left: 0
      right: 0
      height: 56.25rem

    &--title
      margin-top: 0 !important
      margin-bottom: 47.5rem

    &--btn-container
      width: 100%
      display: flex
      justify-content: center

    &--btn
      margin: 3rem auto 0 !important
      width: auto
      display: inline-block


@media screen and (max-width: 768px)
  .studies
    margin-bottom: 0

    &--blurb-section
      padding: 3rem 0
