.training
  &--top-section
    margin-top: 9rem

  &--info-section
    position: absolute
    width: 45%
    height: 100%
    top: 0
    right: 0
    padding: 10rem 5rem
    background-color: $brand-dark-blue

@media screen and (max-width: 991px)
  .training
    &--info-section
      width: 100%
      top: 0
      left: 0
      right: 0
      height: 56.25rem
